@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

section {
    padding: 2rem 20%;
  }
  section:nth-child(1) {
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    padding: 10rem 20%;
  }
